body {
  background-color: black;
  color: aliceblue;
}
h1,
h2 {
  text-align: center;
  font-size: 45px;
}
h2 {
  text-align: center;
  font-size: 35px;
  padding: 50px;
}
form {
  padding: 30px;
}
div {
  display: flex;
  padding: 10px;
  /align-items: center;
  justify-content: center;
}
label {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}
input {
  border-radius: 5px;
  background-color: darkgrey;
  width: 40%;
  height: 20px;
}
a {
  text-decoration: none;
  color: blue;
}
button {
  padding: 5px;
  margin: 10px;
  display: flex;
  background-color: rgb(125, 241, 9);
  border-radius: 6px;
  border: none;
  width: 10%;
  height: 30px;
}
