html {
        background: white;
      }
      body {
        background-color: rgb(215, 228, 226);
        padding: 30px;
        border-radius: 5px;
        margin: 50px 120px;
      }
      h1 {
        text-align: center;
        font-size: 45px;
        color: rgb(111, 157, 201);
      }
      h2 {
        text-align: center;
        font-size: 35px;
        padding: 30px;
      }
      form {
        padding: 20px;
      }
      div {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
      }
      label {
        font-size: 22px;
        font-weight: bold;
        margin-right: 20px;
      }
      input {
        background-color: rgb(249, 251, 252);
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px;
        font-size: 16px;
        width: 30%;
        height: 20px;
      }

      a {
        text-decoration: none;
      }
      button {
        padding: 10px;
        margin: 10px;
        display: flex;
        background-color: rgb(111, 157, 201);
        border-radius: 6px;
        border: none;
        width: 8%;
        font-size: 16px;
        margin-right: 100px;
      }
