html {
  background-image: url(./backg2.jpg);
  color: rgb(11, 12, 13);

}
h1 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
}
h2 {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}
div {
 display: flex;  
 padding: 20px;         / 
  align-items: center;     
  justify-content: center; 
  
input {
  background-color: rgb(173, 176, 177);
  border-radius: 5px;
  margin-left: 10px;
}
label{
  font-size: 25px;
  font-weight: bold;
}
button {
  padding: 5px;
  margin: 10px;
  display: flex;
  background-color: rgb(125, 241, 9);
  border-radius: 6px;
  border: none;
  width: 10%;
  height: 30px;
}
a{
  text-decoration: none;
  font-weight: bold;
}