html {
        background-image: url(./backg2.jpg);
        color: rgb(11, 12, 13);
      }
      body {
        margin: 70px 130px;
        background-color: rgb(215, 228, 226);
        padding: 20px;
        border-radius: 5px;
      }
      h1 {
        text-align: center;
        font-size: 50px;
        margin: 10px;
        color: rgb(131, 151, 173);
      }
      h2 {
        text-align: center;
        padding: 20px;
        font-size: 30px;
      }
      div {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
      }

      input {
        background-color: rgb(249, 251, 252);
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px;
        font-size: 16px;
      }
      label {
        font-size: 25px;
        font-weight: bold;
      }
      button {
        padding: 10px;
        margin: 10px;
        display: flex;
        background-color: rgb(127, 155, 187);
        border-radius: 6px;
        border: none;
        width: 8%;
        font-size: 16px;
        margin-left: 20px;
      }
      a {
        text-decoration: none;
        font-weight: bold;
      }
